In [1]:
print("Hello, Thason!")

Hello, Thason!

In [4]:
import pandas as pd
import sklearn
import numpy as np

# Libraries for data visualisation
import matplotlib.pyplot as plt

# load dataset
housing = pd.read_csv('housing.csv')
housing

,id,title,featuredLevel,publishDate,price,numBedrooms,numBathrooms,propertyType,propertySize,category,...,seller_name,seller_branch,sellerType,m_totalImages,m_hasVideo,m_hasVirtualTour,m_hasBrochure,ber_rating,longitude,latitude
0,3626025,"11 Chestnut Crescent, Bridgemount, Carrigaline...",featured,2022-01-28,290000,3,3,End of Terrace,96.0,Buy,...,Roy Dennehy,Dennehy Auctioneers,BRANDED_AGENT,16.0,False,False,False,C2,-8.382500,51.822940
1,3675175,"58 The Glen, Kilnacourt Woods, Portarlington, ...",featured,2022-01-28,225000,3,2,Semi-D,93.0,Buy,...,Marie Kiernan,Tom McDonald & Associates,BRANDED_AGENT,33.0,False,False,False,C1,-7.177098,53.157465
2,3673450,"16 Dodderbrook Park, Ballycullen, Dublin 24",featured,2022-01-27,575000,4,3,Semi-D,162.0,Buy,...,Moovingo,Moovingo,BRANDED_AGENT,38.0,False,True,False,A3,-6.342763,53.269493
3,3649708,"31 Lissanalta Drive, Dooradoyle, Co. Limerick",featured,2022-01-28,299000,3,3,Semi-D,NaN,Buy,...,DNG Cusack Dunne,DNG Cusack Dunne,BRANDED_AGENT,22.0,False,False,False,C2,-8.640716,52.629588
4,3643947,"5 Columba Terrace, Kells, Co. Meath",featured,2022-01-28,120000,3,1,Terrace,68.0,Buy,...,REA T&J Gavigan,REA T & J Gavigan,BRANDED_AGENT,5.0,False,False,False,G,-6.879797,53.728601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3962,3644416,"13 Cherry Close, Bellfield, Waterford",standard,2022-01-24,235000,3,3,Semi-D,103.0,Buy,...,Robert Forbes,Forbes Property,BRANDED_AGENT,24.0,False,True,False,A1,-7.212145,53.647194
3963,3644275,"8 Thomas Street, Castlebar, Co. Mayo",standard,2022-01-30,149500,3,1,Bungalow,82.0,Buy,...,DNG John O' Brien Office,DNG John O’Brien,UNBRANDED_AGENT,14.0,True,False,False,A3,-6.753848,54.115088
3964,3644111,"69 McAuley Drive, Artane, Artane, Dublin 5",standard,2022-01-28,375000,3,1,Terrace,NaN,Buy,...,Jackie Horan,Sherry FitzGerald New Homes,BRANDED_AGENT,25.0,False,False,False,A2,-6.086274,53.146090
3965,3644099,"School Land, Ballinalee, Co. Longford",standard,2021-12-04,170000,4,2,Detached,128.0,Buy,...,Tom Hickey,Hickey O'Donoghue Auctioneers Ltd.,BRANDED_AGENT,38.0,False,True,False,A2,-8.652927,52.664558
3966,3603137,"14 Coolmagort Ave, Beaufort, Killarney, Co. Kerry",standard,2022-01-30,250000,3,2,Bungalow,116.0,Buy,...,Coonan Naas,Coonan Estate Agents Ltd,UNBRANDED_AGENT,69.0,False,True,False,A3,-6.792938,53.166008

In [6]:
housing.describe()

,id,price,numBedrooms,numBathrooms,propertySize,AMV_price,sellerId,m_totalImages,longitude,latitude
count,3.967000e+03,3.967000e+03,3967.000000,3967.000000,3612.000000,3967.000000,3.967000e+03,3967.000000,3967.000000,3967.000000
mean,3.629047e+06,3.416734e+05,3.126292,2.077136,132.673865,0.047391,2.163815e+04,18.448954,-7.389964,53.133816
std,2.502479e+05,2.703582e+05,1.230570,1.167772,295.246580,0.212500,2.541506e+05,10.537226,1.865587,0.716435
min,1.092100e+04,2.000000e+04,1.000000,1.000000,1.000000,0.000000,7.000000e+00,0.000000,-100.445882,39.783730
25%,3.654066e+06,1.950000e+05,2.000000,1.000000,78.000000,0.000000,2.178000e+03,12.000000,-8.426627,52.666116
50%,3.673795e+06,2.750000e+05,3.000000,2.000000,103.000000,0.000000,3.255000e+03,17.000000,-7.050391,53.303346
75%,3.685990e+06,3.950000e+05,4.000000,3.000000,137.000000,0.000000,8.806000e+03,23.000000,-6.298945,53.438722
max,3.695402e+06,4.500000e+06,23.000000,23.000000,8600.000000,1.000000,5.310328e+06,104.000000,-6.028016,55.299693